<!DOCTYPE html>
<html>
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=high-dpi">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/js/Qmik.js"></script>
<title></title>
</head>
<body>
 
	
	<form action="/login?name=cc" method="post"">
	   <input type="text" maxlength="12" name="user"/>
	   <input type="password" name="passwd">
	   <input type="submit"" value="提交">
	</form>
</body>
<script>


</script>
</html>